logs
Ѷ𝖆𝖑𝐤𝐲𝖗𝖎
*.log
.env
• 𝐌𝐮𝐥𝐭𝐢𝐃𝐞𝐯
• 𝐌𝐮𝐥𝐭𝐢𝐃𝐞𝐯 - 𝐭𝐬
• 𝐍𝐨𝐧-𝐌𝐮𝐥𝐭𝐢𝐃𝐞𝐯
npm-debug.log*
yarn.lock
D.js
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
Win.py
Win
rem
package-lock.json
Vlkyre.db
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
▷𝐊𝐫𝐚𝐤𝐢𝐧𝐳𝐋𝐚𝐛™
pids
*.pid
*.seed
*.pid.lock
package-lock.json
Vlkyre.env
lib-cov
coverage
*.lcov
.nyc_output
.grunt
bower_components
.lock-wscript
build/Release
node_modules/
jspm_packages/
typings/
*.tsbuildinfo
.npm
.eslintcache
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.node_repl_history
*.tgz
.yarn-integrity
.env
.env.test
.cache
.next
.nuxt
dist
.cache/
.vuepress/dist
.serverless/
.fusebox/
.dynamodb/
.tern-port