<!DOCTYPE html>
<html>
<title>Vlkyre Whatsapp User Bot By KryKenz</title>

<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<script src="https://cdn.tailwindcss.com"></script>
</head>
<style>
@import url(https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.min.css);

body {
font-size: 18px;
color: #ffffff;
font-family: "Times New Roman", Times, serif;
}

p {
font-size: 18px;
color: #ffffff;
font-family: "Times New Roman", Times, serif;
}

h1 {
font-size: 18px;
color: #ffffff;
font-family: "Times New Roman", Times, serif;
}

h2 {
font-size: 18px;
color: #ffffff;
font-family: "Times New Roman", Times, serif;
}

h3 {
font-size: 18px;
color: #ffffff;
font-family: "Times New Roman", Times, serif;
}

h4 {
font-size: 18px;
color: #ffffff;
font-family: "Times New Roman", Times, serif;
}

div {
font-size: 18px;
color: #ffffff;
font-family: "Times New Roman", Times, serif;
}

.zoomBox {
padding: 50px;
transition: transform .3s;
width: 400px;
height: 250px;
margin: 0 auto;
}

.zoomBox:hover {
transform: scale(1.1);
}


.zoomIn {
width: 400px;
height: 400px;
overflow: hidden;
margin: 0 auto;
}

.zoomIn img {
width: 100%;
transition: 0.5s all ease-in-out;
}

.zoomIn:hover img {
transform: scale(1.5);
}

#loader {
border: 20px solid #f3f3f3;
border-radius: 200%;
border-top: 20px solid #833025;
width: 120px;
height: 120px;
-webkit-animation: spin 4s linear infinite;
animation: spin 4s linear infinite;
}

@keyframes spin {
100% {
transform: rotate(360deg);
}
}

.center {
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
margin: auto;
}

@-webkit-keyframes spin {
0% {
-webkit-transform: rotate(0deg);
}

100% {
-webkit-transform: rotate(360deg);
}
}

@keyframes spin {
0% {
transform: rotate(0deg);
}

100% {
transform: rotate(360deg);
}
}
</style>
<!-- ("◎☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱[ νℓкуяє вσт ву кяукєηz ]☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱◎");
// ╔⧉༻ [ 𝐕𝐥𝐤𝐲𝐫𝐞🕊️𝐌𝐮𝐥𝐭𝐢𝐃𝐞𝐯𝐢𝐜𝐞 𝐀𝐏𝐈 ] 𝐢𝐬 𝐚 𝐖𝐡𝐚𝐭𝐬𝐚𝐩𝐩 𝐌𝐮𝐥𝐭𝐢𝐏𝐮𝐫𝐩𝐨𝐬𝐞-𝐔𝐬𝐞𝐫𝐛𝐨𝐭 𝐰𝐢𝐭𝐡 𝐌𝐨𝐝𝐞𝐫𝐚𝐭𝐢𝐨𝐧,𝐀𝐮𝐭𝐨𝐦𝐚𝐭𝐢𝐨𝐧 𝐚𝐧𝐝 𝟏𝟎𝟎+ 𝐦𝐨𝐫𝐞 𝐜𝐨𝐦𝐦𝐚𝐧𝐝𝐬!
// ║ 🐞𝐃𝐞𝐯𝐞𝐥𝐨𝐩𝐞𝐫𝐬 +918436686758,917430922909
// ║
// ║ We won't be responsible for any kind of ban due to this bot.
// ║ νℓкуяє was made for fun purpose and to make group management easier.
// ║ It's your concern if you spam and gets your account banned.
// ║ Also, Forks won't be entertained.
// ║ If you fork this repo and edit plugins, it's your concern for further updates.
// ║ Forking Repo is fine. But if you edit something we will not provide any help.
// ║ In short, Fork At Your Own Risk.
// ╚════════════╝
("◎☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱[ νℓкуяє вσт ву кяукєηz ]☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱◎");-->

<body style="background-color: #0f0d14">
<div id="loader" class="center"></div>
<script>
document.onreadystatechange = function () {
if (document.readyState !== "complete") {
document.querySelector("body").style.visibility = "hidden";
document.querySelector("#loader").style.visibility = "visible";
} else {
document.querySelector("#loader").style.display = "none";
document.querySelector("body").style.visibility = "visible";
}
};
</script>
<!-- ("◎☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱[ νℓкуяє вσт ву кяукєηz ]☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱◎");
// ╔⧉༻ [ 𝐕𝐥𝐤𝐲𝐫𝐞🕊️𝐌𝐮𝐥𝐭𝐢𝐃𝐞𝐯𝐢𝐜𝐞 𝐀𝐏𝐈 ] 𝐢𝐬 𝐚 𝐖𝐡𝐚𝐭𝐬𝐚𝐩𝐩 𝐌𝐮𝐥𝐭𝐢𝐏𝐮𝐫𝐩𝐨𝐬𝐞-𝐔𝐬𝐞𝐫𝐛𝐨𝐭 𝐰𝐢𝐭𝐡 𝐌𝐨𝐝𝐞𝐫𝐚𝐭𝐢𝐨𝐧,𝐀𝐮𝐭𝐨𝐦𝐚𝐭𝐢𝐨𝐧 𝐚𝐧𝐝 𝟏𝟎𝟎+ 𝐦𝐨𝐫𝐞 𝐜𝐨𝐦𝐦𝐚𝐧𝐝𝐬!
// ║ 🐞𝐃𝐞𝐯𝐞𝐥𝐨𝐩𝐞𝐫𝐬 +918436686758,917430922909
// ║
// ║ We won't be responsible for any kind of ban due to this bot.
// ║ νℓкуяє was made for fun purpose and to make group management easier.
// ║ It's your concern if you spam and gets your account banned.
// ║ Also, Forks won't be entertained.
// ║ If you fork this repo and edit plugins, it's your concern for further updates.
// ║ Forking Repo is fine. But if you edit something we will not provide any help.
// ║ In short, Fork At Your Own Risk.
// ╚════════════╝
("◎☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱[ νℓкуяє вσт ву кяукєηz ]☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱◎");-->
<div id="ten"></div>
<script src="./script.js"></script>
<header class="text-amber-100 body-font">
<div class="relative flex flex-col-reverse py-16 lg:pt-0 lg:flex-col lg:pb-0">
<div
class="inset-y-0 top-0 right-0 z-0 w-full max-w-xl px-4 mx-auto md:px-0 lg:pr-0 lg:mb-0 lg:mx-0 lg:w-7/12 lg:max-w-full lg:absolute xl:px-0">
<svg class="absolute left-0 hidden h-full transform -translate-x-1/2 lg:block text-amber-800"
viewBox="0 0 100 100" fill="currentColor" preserveAspectRatio="none slice">
<path d="M50 0H100L50 100H0L50 0Z"></path>
</svg>
<img class="object-cover w-full h-56 rounded shadow-lg lg:shadow-none md:h-96 lg:h-full rounded-lg "
src="https://i.postimg.cc/1X2rJtxf/pikrepo.jpg" alt="" />
</div>

<div
class="relative flex flex-col items-start w-full max-w-xl px-4 mx-auto md:px-0 lg:px-8 lg:max-w-screen-xl">
<div class="mb-16 lg:my-40 lg:max-w-lg lg:pr-5">
<p
class="inline-block px-3 py-px mb-4 text-xs font-semibold tracking-wider text-amber-500 uppercase rounded-full bg-amber-accent-400">
Hello!
</p>
<h2 class="mb-5 text-3xl font-bold tracking-tight text-amber-100 sm:text-4xl sm:leading-none">
Everything you<br class="hidden md:block" />
can imagine is
<span class="inline-block text-amber-500"><i> real </i></span>
</h2>
<p class="lg:w-2/3 text-amber-100">My name is <span class="inline-block text-amber-500">KryKenz(
▀͜͞ʖ▀) ▄︻̷̿┻̿═━━</span><br>I am a bot developer.<br>Below you can surf all the works I have
done
including Vlkyre.
</p>
</div>
</div>
</div>
<hr style="height: 0.5px; border-top: 2px solid #d04f43" />
<hr style="height: 0.5px; border-top: 8px solid #b3ad86" />
</header>
<!-- ("◎☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱[ νℓкуяє вσт ву кяукєηz ]☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱◎");
// ╔⧉༻ [ 𝐕𝐥𝐤𝐲𝐫𝐞🕊️𝐌𝐮𝐥𝐭𝐢𝐃𝐞𝐯𝐢𝐜𝐞 𝐀𝐏𝐈 ] 𝐢𝐬 𝐚 𝐖𝐡𝐚𝐭𝐬𝐚𝐩𝐩 𝐌𝐮𝐥𝐭𝐢𝐏𝐮𝐫𝐩𝐨𝐬𝐞-𝐔𝐬𝐞𝐫𝐛𝐨𝐭 𝐰𝐢𝐭𝐡 𝐌𝐨𝐝𝐞𝐫𝐚𝐭𝐢𝐨𝐧,𝐀𝐮𝐭𝐨𝐦𝐚𝐭𝐢𝐨𝐧 𝐚𝐧𝐝 𝟏𝟎𝟎+ 𝐦𝐨𝐫𝐞 𝐜𝐨𝐦𝐦𝐚𝐧𝐝𝐬!
// ║ 🐞𝐃𝐞𝐯𝐞𝐥𝐨𝐩𝐞𝐫𝐬 +918436686758,917430922909
// ║
// ║ We won't be responsible for any kind of ban due to this bot.
// ║ νℓкуяє was made for fun purpose and to make group management easier.
// ║ It's your concern if you spam and gets your account banned.
// ║ Also, Forks won't be entertained.
// ║ If you fork this repo and edit plugins, it's your concern for further updates.
// ║ Forking Repo is fine. But if you edit something we will not provide any help.
// ║ In short, Fork At Your Own Risk.
// ╚════════════╝
("◎☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱[ νℓкуяє вσт ву кяукєηz ]☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱◎");-->
<section class="text-amber-600 body-font" style="background-color: #16131d">
<div class="container px-5 py-24 mx-auto flex flex-col">
<div class="lg:w-4/6 mx-auto">
<div class="flex flex-col sm:flex-row mt-10">
<div class="sm:w-1/3 text-center sm:pr-8 sm:py-8">
<div class="rounded-lg h-64 overflow-hidden"><img alt="content" class="object-cover object-center h-full w-full" src=<%= uBoard.profile %>></div>
<div class="flex flex-col items-center text-center justify-center">
<div class="w-12 h-1 bg-amber-500 rounded mt-2 mb-4"></div>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span>User ID: <%= uBoard._id %><br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span>User Phone: <%= uBoard.ID.replace("@s.whatsapp.net", "" ) %><br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span>User Name: <%= uBoard.username %><br></a>
<div class="w-12 h-1 bg-amber-500 rounded mt-2 mb-4"></div>
</div>
</div>
<div
class="sm:w-2/3 sm:pl-8 sm:py-8 sm:border-l border-amber-200 sm:border-t-0 border-t mt-4 pt-4 sm:mt-0 text-center sm:text-left">
<p class="leading-relaxed text-lg mb-4">- Know all commands vlkyre has to offer</p>
<p class="leading-relaxed text-lg mb-4">- All upcoming commands will be posted here.</p>
<p class="leading-relaxed text-lg mb-4">- Learn how much you use vlkyre.</p>
<p class="leading-relaxed text-lg mb-">- Bug fixing and Error resolve patch notes will be posted here.</p>
</div>
</div>
</div>
</div>
<hr style="height: 0.5px; border-top: 2px solid #d04f43" />
<hr style="height: 0.5px; border-top: 8px solid #b3ad86" />
</section>
<!-- ("◎☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱[ νℓкуяє вσт ву кяукєηz ]☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱◎");
// ╔⧉༻ [ 𝐕𝐥𝐤𝐲𝐫𝐞🕊️𝐌𝐮𝐥𝐭𝐢𝐃𝐞𝐯𝐢𝐜𝐞 𝐀𝐏𝐈 ] 𝐢𝐬 𝐚 𝐖𝐡𝐚𝐭𝐬𝐚𝐩𝐩 𝐌𝐮𝐥𝐭𝐢𝐏𝐮𝐫𝐩𝐨𝐬𝐞-𝐔𝐬𝐞𝐫𝐛𝐨𝐭 𝐰𝐢𝐭𝐡 𝐌𝐨𝐝𝐞𝐫𝐚𝐭𝐢𝐨𝐧,𝐀𝐮𝐭𝐨𝐦𝐚𝐭𝐢𝐨𝐧 𝐚𝐧𝐝 𝟏𝟎𝟎+ 𝐦𝐨𝐫𝐞 𝐜𝐨𝐦𝐦𝐚𝐧𝐝𝐬!
// ║ 🐞𝐃𝐞𝐯𝐞𝐥𝐨𝐩𝐞𝐫𝐬 +918436686758,917430922909
// ║
// ║ We won't be responsible for any kind of ban due to this bot.
// ║ νℓкуяє was made for fun purpose and to make group management easier.
// ║ It's your concern if you spam and gets your account banned.
// ║ Also, Forks won't be entertained.
// ║ If you fork this repo and edit plugins, it's your concern for further updates.
// ║ Forking Repo is fine. But if you edit something we will not provide any help.
// ║ In short, Fork At Your Own Risk.
// ╚════════════╝
("◎☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱[ νℓкуяє вσт ву кяукєηz ]☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱◎");-->
<section style="background-color: #141316">

<div class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20">
<div class="text-center mb-20">
<h2
class="max-w-lg mb-6 text-3xl font-bold leading-none tracking-tight text-amber-300 sm:text-4xl md:mx-auto">
<span class="relative inline-block">
<svg viewBox="0 0 52 24" fill="currentColor"
class="absolute top-0 left-0 z-0 hidden w-32 -mt-8 -ml-20 text-amber-100 lg:w-32 lg:-ml-28 lg:-mt-10 sm:block">
<defs>
<pattern id="db164e35-2a0e-4c0f-ab05-f14edc6d4d30" x="0" y="0" width=".135"
height=".30">
<circle cx="1" cy="1" r=".7"></circle>
</pattern>
</defs>
<rect fill="url(#db164e35-2a0e-4c0f-ab05-f14edc6d4d30)" width="52" height="24"></rect>
</svg>
<span class="relative"></span>
</span>
UPCOMING COMMANDS
</h2>
</div>
<div class="flex flex-col mb-6 lg:flex-row md:mb-10">


<div class="flex-grow pl-6">
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>chordlist<br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>getChord<br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>whatmusic<br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>wikipedia<br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>nhentaiDL<br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>tiktokaudio<br></a>
</div>


<div class="flex-grow pl-6">
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>tiktok<br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>fbdl<br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>soundcloud<br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>facebook<br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>emojimix<br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>setwelcome<br></a>
</div>


<div class="flex-grow pl-6">
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>setbye<br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>ban/unban<br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>warn/unwarn<br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>ping<br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>react<br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>runtime<br></a>
</div>



<div class="flex-grow pl-6">
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>exec<br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>translate<br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>imgtopdf<br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>getquoted<br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>rank<br></a>
</div>


</div> 
</div>
</div>
<hr style="height: 0.5px; border-top: 2px solid #d04f43" />
<hr style="height: 0.5px; border-top: 8px solid #b3ad86" />
</section>
<!-- ("◎☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱[ νℓкуяє вσт ву кяукєηz ]☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱◎");
// ╔⧉༻ [ 𝐕𝐥𝐤𝐲𝐫𝐞🕊️𝐌𝐮𝐥𝐭𝐢𝐃𝐞𝐯𝐢𝐜𝐞 𝐀𝐏𝐈 ] 𝐢𝐬 𝐚 𝐖𝐡𝐚𝐭𝐬𝐚𝐩𝐩 𝐌𝐮𝐥𝐭𝐢𝐏𝐮𝐫𝐩𝐨𝐬𝐞-𝐔𝐬𝐞𝐫𝐛𝐨𝐭 𝐰𝐢𝐭𝐡 𝐌𝐨𝐝𝐞𝐫𝐚𝐭𝐢𝐨𝐧,𝐀𝐮𝐭𝐨𝐦𝐚𝐭𝐢𝐨𝐧 𝐚𝐧𝐝 𝟏𝟎𝟎+ 𝐦𝐨𝐫𝐞 𝐜𝐨𝐦𝐦𝐚𝐧𝐝𝐬!
// ║ 🐞𝐃𝐞𝐯𝐞𝐥𝐨𝐩𝐞𝐫𝐬 +918436686758,917430922909
// ║
// ║ We won't be responsible for any kind of ban due to this bot.
// ║ νℓкуяє was made for fun purpose and to make group management easier.
// ║ It's your concern if you spam and gets your account banned.
// ║ Also, Forks won't be entertained.
// ║ If you fork this repo and edit plugins, it's your concern for further updates.
// ║ Forking Repo is fine. But if you edit something we will not provide any help.
// ║ In short, Fork At Your Own Risk.
// ╚════════════╝
("◎☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱[ νℓкуяє вσт ву кяукєηz ]☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱◎");-->
<section class="text-amber-400 body-font" style="background-color: #16131d">
<div class="container px-5 py-24 mx-auto">

<div class="text-center mb-20">
<h2
class="max-w-lg mb-6 text-3xl font-bold leading-none tracking-tight text-amber-300 sm:text-4xl md:mx-auto">
<span class="relative inline-block">
<svg viewBox="0 0 52 24" fill="currentColor"
class="absolute top-0 left-0 z-0 hidden w-32 -mt-8 -ml-20 text-amber-100 lg:w-32 lg:-ml-28 lg:-mt-10 sm:block">
<defs>
<pattern id="db164e35-2a0e-4c0f-ab05-f14edc6d4d30" x="0" y="0" width=".135"
height=".30">
<circle cx="1" cy="1" r=".7"></circle>
</pattern>
</defs>
<rect fill="url(#db164e35-2a0e-4c0f-ab05-f14edc6d4d30)" width="52" height="24"></rect>
</svg>
<span class="relative"></span>
</span>
VLKYRE USER DASHBOARD
</h2>
<p class="text-base leading-relaxed xl:w-2/4 lg:w-3/4 mx-auto">Blue bottle crucifix vinyl post-ironic
four dollar toast vegan taxidermy. Gastropub indxgo juice poutine, ramps microdosing banh mi pug.
</p>
</div>
<div class="flex flex-wrap -m-4">
<!-- ("◎☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱[ νℓкуяє вσт ву кяукєηz ]☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱◎");
// ╔⧉༻ [ 𝐕𝐥𝐤𝐲𝐫𝐞🕊️𝐌𝐮𝐥𝐭𝐢𝐃𝐞𝐯𝐢𝐜𝐞 𝐀𝐏𝐈 ] 𝐢𝐬 𝐚 𝐖𝐡𝐚𝐭𝐬𝐚𝐩𝐩 𝐌𝐮𝐥𝐭𝐢𝐏𝐮𝐫𝐩𝐨𝐬𝐞-𝐔𝐬𝐞𝐫𝐛𝐨𝐭 𝐰𝐢𝐭𝐡 𝐌𝐨𝐝𝐞𝐫𝐚𝐭𝐢𝐨𝐧,𝐀𝐮𝐭𝐨𝐦𝐚𝐭𝐢𝐨𝐧 𝐚𝐧𝐝 𝟏𝟎𝟎+ 𝐦𝐨𝐫𝐞 𝐜𝐨𝐦𝐦𝐚𝐧𝐝𝐬!
// ║ 🐞𝐃𝐞𝐯𝐞𝐥𝐨𝐩𝐞𝐫𝐬 +918436686758,917430922909
// ║
// ║ We won't be responsible for any kind of ban due to this bot.
// ║ νℓкуяє was made for fun purpose and to make group management easier.
// ║ It's your concern if you spam and gets your account banned.
// ║ Also, Forks won't be entertained.
// ║ If you fork this repo and edit plugins, it's your concern for further updates.
// ║ Forking Repo is fine. But if you edit something we will not provide any help.
// ║ In short, Fork At Your Own Risk.
// ╚════════════╝
("◎☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱[ νℓкуяє вσт ву кяукєηz ]☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱◎");-->
<div class="py-8 px-4 lg:w-1/3">
<div class="h-full flex items-start">
<div class="w-12 flex-shrink-0 flex flex-col text-center leading-none">
<span class="text-amber-500 pb-2 mb-2 border-b-2 border-amber-200">M</span>
<!-- <span class="font-medium text-lg text-amber-800 title-font leading-none">18</span> -->
</div>
<div class="flex-grow pl-6">
<h2 class="tracking-widest text-xs title-font font-medium text-amber-400 mb-1"><b> /< ⟐>/
</b></h2>
<h1 class="title-font text-xl font-medium text-amber-600 mb-3">Menu Commands </h1>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>h.anime: <%= uBoard._anime %><br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>h.download: <%= uBoard._download %><br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>h.filter: <%= uBoard._filter %><br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>h.game: <%= uBoard._game %><br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>h.image: <%= uBoard._image %><br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>h.search: <%= uBoard._search %><br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>h.ytfilter: <%= uBoard._ytfilter %><br></a>
</div>
</div>
</div>
<!-- ("◎☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱[ νℓкуяє вσт ву кяукєηz ]☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱◎"); -->
<div class="py-8 px-4 lg:w-1/3">
<div class="h-full flex items-start">
<div class="w-12 flex-shrink-0 flex flex-col text-center leading-none">
<span class="text-amber-500 pb-2 mb-2 border-b-2 border-amber-200">📥</span>
<!-- <span class="font-medium text-lg text-amber-800 title-font leading-none">18</span> -->
</div>
<div class="flex-grow pl-6">
<h2 class="tracking-widest text-xs title-font font-medium text-amber-400 mb-1"><b> /< ⟐>/
</b></h2>
<h1 class="title-font text-xl font-medium text-amber-600 mb-3">DOWNLOADER CATEGORY</h1>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>yta: <%= uBoard.youtube %><br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>play: <%= uBoard.youtube %><br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>song: <%= uBoard.youtube %><br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>sing: <%= uBoard.youtube %><br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>ytmp3: <%= uBoard.youtube %><br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>music: <%= uBoard.youtube %><br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>ytplay: <%= uBoard.youtube %><br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>ytaudio: <%= uBoard.youtube %><br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>ytmusic: <%= uBoard.youtube %><br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>youtubemusic: <%= uBoard.youtube %><br></a>
</div>
</div>
</div>
<!-- ("◎☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱[ νℓкуяє вσт ву кяукєηz ]☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱◎"); -->
<div class="py-8 px-4 lg:w-1/3">
<div class="h-full flex items-start">
<div class="w-12 flex-shrink-0 flex flex-col text-center leading-none">
<span class="text-amber-500 pb-2 mb-2 border-b-2 border-amber-200">📢</span>
<!-- <span class="font-medium text-lg text-amber-800 title-font leading-none">18</span> -->
</div>
<div class="flex-grow pl-6">
<h2 class="tracking-widest text-xs title-font font-medium text-amber-400 mb-1"><b> /< ⟐>/
</b></h2>
<h1 class="title-font text-xl font-medium text-amber-600 mb-3">Audio Filter Commands</h1>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>bassboost: <%= uBoard.bassboost %><br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>echo: <%= uBoard.echo %><br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>fast: <%= uBoard.fast %><br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>flanger: <%= uBoard.flanger %><br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>nightcore: <%= uBoard.nightcore %><br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>phaser: <%= uBoard.phaser %><br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>reverse: <%= uBoard.reverse %><br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>slow: <%= uBoard.slow %><br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>speed: <%= uBoard.speed %><br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>subboost: <%= uBoard.subboost %><br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>superslow: <%= uBoard.superslow %><br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>superspeed: <%= uBoard.superspeed %><br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>surround: <%= uBoard.surround %><br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>vaporwave: <%= uBoard.vaporwave %><br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>vibrato: <%= uBoard.vibrato %><br></a>
</div>
</div>
</div>
<!-- ("◎☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱[ νℓкуяє вσт ву кяукєηz ]☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱◎"); -->
<div class="py-8 px-4 lg:w-1/3">
<div class="h-full flex items-start">
<div class="w-12 flex-shrink-0 flex flex-col text-center leading-none">
<span class="text-amber-500 pb-2 mb-2 border-b-2 border-amber-200">💰</span>
<!-- <span class="font-medium text-lg text-amber-800 title-font leading-none">18</span> -->
</div>
<div class="flex-grow pl-6">
<h2 class="tracking-widest text-xs title-font font-medium text-amber-400 mb-1"><b> /< ⟐>/
</b></h2>
<h1 class="title-font text-xl font-medium text-amber-600 mb-3">Gaming Commands</h1>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>balance: <%= uBoard.balance %><br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>buy: <%= uBoard.buy %><br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>daily: <%= uBoard.daily %><br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>fish: <%= uBoard.fish %><br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>gamble: <%= uBoard.gamble %><br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>inv: <%= uBoard.inv %><br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>store: <%= uBoard.store %><br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>work: <%= uBoard.work %><br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>zoo: <%= uBoard.zoo %><br></a>
</div>
</div>
</div>
<!-- ("◎☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱[ νℓкуяє вσт ву кяукєηz ]☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱◎"); -->
<div class="py-8 px-4 lg:w-1/3">
<div class="h-full flex items-start">
<div class="w-12 flex-shrink-0 flex flex-col text-center leading-none">
<span class="text-amber-500 pb-2 mb-2 border-b-2 border-amber-200">🔰</span>
<!-- <span class="font-medium text-lg text-amber-800 title-font leading-none">18</span> -->
</div>
<div class="flex-grow pl-6">
<h2 class="tracking-widest text-xs title-font font-medium text-amber-400 mb-1"><b> /< ⟐>/
</b></h2>
<h1 class="title-font text-xl font-medium text-amber-600 mb-3">Group Commands</h1>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>demote: <%= uBoard.demote %><br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>promote: <%= uBoard.promote %><br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>kick: <%= uBoard.kick %><br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>setdesc: <%= uBoard.setdesc %><br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>seticon: <%= uBoard.seticon %><br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>tagall: <%= uBoard.tagall %><br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>group open: <%= uBoard.group %><br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>group close: <%= uBoard.group %><br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>Fantilink: <%= uBoard.antilink %><br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>stoplink: <%= uBoard.stoplink %><br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>nolink: <%= uBoard.nolink %><br></a>
</div>
</div>
</div>
<!-- ("◎☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱[ νℓкуяє вσт ву кяукєηz ]☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱◎"); -->
<div class="py-8 px-4 lg:w-1/3">
<div class="h-full flex items-start">
<div class="w-12 flex-shrink-0 flex flex-col text-center leading-none">
<span class="text-amber-500 pb-2 mb-2 border-b-2 border-amber-200">🖼️</span>
<!-- <span class="font-medium text-lg text-amber-800 title-font leading-none">18</span> -->
</div>
<div class="flex-grow pl-6">
<h2 class="tracking-widest text-xs title-font font-medium text-amber-400 mb-1"><b> /< ⟐>/
</b></h2>
<h1 class="title-font text-xl font-medium text-amber-600 mb-3">Image Maker Commands</h1>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>image: <%= uBoard.image %><br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>neko: <%= uBoard.neko %><br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>pinterest: <%= uBoard.pinterest %><br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>waifu: <%= uBoard.waifu %><br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>wallpaper: <%= uBoard.wallpaper %><br></a>
</div>
</div>
</div>
<!-- ("◎☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱[ νℓкуяє вσт ву кяукєηz ]☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱◎"); -->
<div class="py-8 px-4 lg:w-1/3">
<div class="h-full flex items-start">
<div class="w-12 flex-shrink-0 flex flex-col text-center leading-none">
<span class="text-amber-500 pb-2 mb-2 border-b-2 border-amber-200">🔎</span>
<!-- <span class="font-medium text-lg text-amber-800 title-font leading-none">18</span> -->
</div>
<div class="flex-grow pl-6">
<h2 class="tracking-widest text-xs title-font font-medium text-amber-400 mb-1"><b> /< ⟐>/
</b></h2>
<h1 class="title-font text-xl font-medium text-amber-600 mb-3">Web Search Commands</h1>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>advice: <%= uBoard.advice %><br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>anime: <%= uBoard.anime %><br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>fact: <%= uBoard.fact %><br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>google: <%= uBoard.google %><br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>joke: <%= uBoard.joke %><br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>manga: <%= uBoard.manga %><br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>meme: <%= uBoard.meme %><br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>quote: <%= uBoard.quote %><br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>amberdit: <%= uBoard.amberdit %><br></a>
</div>
</div>
</div>
<!-- ("◎☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱[ νℓкуяє вσт ву кяукєηz ]☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱◎"); -->
<div class="py-8 px-4 lg:w-1/3">
<div class="h-full flex items-start">
<div class="w-12 flex-shrink-0 flex flex-col text-center leading-none">
<span class="text-amber-500 pb-2 mb-2 border-b-2 border-amber-200">⭕</span>
<!-- <span class="font-medium text-lg text-amber-800 title-font leading-none">18</span> -->
</div>
<div class="flex-grow pl-6">
<h2 class="tracking-widest text-xs title-font font-medium text-amber-400 mb-1"><b> /< ⟐>/
</b></h2>
<h1 class="title-font text-xl font-medium text-amber-600 mb-3">YouTube Filter Commands</h1>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>ytbassboost: <%= uBoard.ytbassboost %><br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>ytecho: <%= uBoard.ytecho %><br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>ytflanger: <%= uBoard.ytflanger %><br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>ytnightcore: <%= uBoard.ytnightcore %><br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>ytphaser: <%= uBoard.ytphaser %><br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>ytreverse: <%= uBoard.ytreverse %><br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>Fytslow: <%= uBoard.ytslow %><br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>ytspeed: <%= uBoard.ytspeed %><br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>ytsubboost: <%= uBoard.ytsubboost %><br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>ytsuperslow: <%= uBoard.ytsuperslow %><br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>ytsuperspeed: <%= uBoard.ytsuperspeed %><br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>ytsurround: <%= uBoard.ytsurround %><br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>ytvaporwave: <%= uBoard.ytvaporwave %><br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>ytvibrato: <%= uBoard.ytvibrato %><br></a>
</div>
</div>
</div>
<!-- ("◎☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱[ νℓкуяє вσт ву кяукєηz ]☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱◎"); -->
<div class="py-8 px-4 lg:w-1/3">
<div class="h-full flex items-start">
<div class="w-12 flex-shrink-0 flex flex-col text-center leading-none">
<span class="text-amber-500 pb-2 mb-2 border-b-2 border-amber-200">🍑</span>
<!-- <span class="font-medium text-lg text-amber-800 title-font leading-none">18</span> -->
</div>
<div class="flex-grow pl-6">
<h2 class="tracking-widest text-xs title-font font-medium text-amber-400 mb-1"><b> /< ⟐>/
</b></h2>
<h1 class="title-font text-xl font-medium text-amber-600 mb-3">Hentai Commands</h1>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>ass: <%= uBoard.ass %><br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>bdsm: <%= uBoard.bdsm %><br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>blowjob: <%= uBoard.blowjob %><br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>cum: <%= uBoard.cum %><br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>doujin: <%= uBoard.doujin %><br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>feet: <%= uBoard.feet %><br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>femdom: <%= uBoard.femdom %><br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>foxgirl: <%= uBoard.foxgirl %><br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>glasses: <%= uBoard.glasses %><br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>hentai: <%= uBoard.hentai %><br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>maid: <%= uBoard.maid %><br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>masturbation: <%= uBoard.masturbation %><br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>netorare: <%= uBoard.netorare %><br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>orgy: <%= uBoard.orgy %><br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>panties: <%= uBoard.panties %><br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>pussy: <%= uBoard.pussy %><br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>school: <%= uBoard.school %><br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>succubus: <%= uBoard.succubus %><br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>tentacles: <%= uBoard.tentacles %><br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>thighs: <%= uBoard.thighs %><br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>uglyBastard: <%= uBoard.uglyBastard %><br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>uniform: <%= uBoard.uniform %><br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>yuri: <%= uBoard.yuri %><br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>zettaiRyouiki: <%= uBoard.zettaiRyouiki %><br></a>
</div>
</div>
</div>
<!-- ("◎☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱[ νℓкуяє вσт ву кяукєηz ]☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱◎"); -->
<div class="py-8 px-4 lg:w-1/3">
<div class="h-full flex items-start">
<div class="w-12 flex-shrink-0 flex flex-col text-center leading-none">
<span class="text-amber-500 pb-2 mb-2 border-b-2 border-amber-200">🐉</span>
<!-- <span class="font-medium text-lg text-amber-800 title-font leading-none">18</span> -->
</div>
<div class="flex-grow pl-6">
<h2 class="tracking-widest text-xs title-font font-medium text-amber-400 mb-1"><b> /< ⟐>/
</b></h2>
<h1 class="title-font text-xl font-medium text-amber-600 mb-3">Anime Commands</h1><a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>bite: <%= uBoard.bite %><br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>blush: <%= uBoard.blush %><br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>bonk: <%= uBoard.bonk %><br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>boamber: <%= uBoard.boamber %><br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>confused: <%= uBoard.confused %><br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>cry: <%= uBoard.cry %><br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>cuddle: <%= uBoard.cuddle %><br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>dance: <%= uBoard.dance %><br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>goodnight: <%= uBoard.goodnight %><br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>happy: <%= uBoard.happy %><br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>highfive: <%= uBoard.highfive %><br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>hug: <%= uBoard.hug %><br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>kill: <%= uBoard.kill %><br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>kiss: <%= uBoard.kiss %><br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>nervous: <%= uBoard.nervous %><br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>pat: <%= uBoard.pat %><br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>poke: <%= uBoard.poke %><br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>punch: <%= uBoard.punch %><br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>sad: <%= uBoard.sad %><br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>scream: <%= uBoard.scream %><br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>slap: <%= uBoard.slap %><br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>smile: <%= uBoard.smile %><br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>stare: <%= uBoard.stare %><br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>wave: <%= uBoard.wave %><br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>wink: <%= uBoard.wink %><br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>yeet: <%= uBoard.yeet %><br></a>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>yes: <%= uBoard.yes %><br></a>
</div>
</div>
</div>
<!-- ("◎☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱[ νℓкуяє вσт ву кяукєηz ]☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱◎"); -->
<div class="py-8 px-4 lg:w-1/3">
<div class="h-full flex items-start">
<div class="w-12 flex-shrink-0 flex flex-col text-center leading-none">
<span class="text-amber-500 pb-2 mb-2 border-b-2 border-amber-200">🗄️</span>
<!-- <span class="font-medium text-lg text-amber-800 title-font leading-none">18</span> -->
</div>
<div class="flex-grow pl-6">
<h2 class="tracking-widest text-xs title-font font-medium text-amber-400 mb-1"><b> /< ⟐>/
</b></h2>
<h1 class="title-font text-xl font-medium text-amber-600 mb-3">Conversion Commands </h1>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>Coming Soon<br></a>
</div>
</div>
</div>
<!-- ("◎☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱[ νℓкуяє вσт ву кяукєηz ]☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱◎"); -->
<div class="py-8 px-4 lg:w-1/3">
<div class="h-full flex items-start">
<div class="w-12 flex-shrink-0 flex flex-col text-center leading-none">
<span class="text-amber-500 pb-2 mb-2 border-b-2 border-amber-200">🔞</span>
<!-- <span class="font-medium text-lg text-amber-800 title-font leading-none">18</span> -->
</div>

<div class="flex-grow pl-6">
<h2 class="tracking-widest text-xs title-font font-medium text-amber-400 mb-1"><b> /< ⟐>/
</b></h2>
<h1 class="title-font text-xl font-medium text-amber-600 mb-3">Adult Commands </h1>
<a><span class="bg-amber-100 text-green-400 w-4 h-4 mr-2 rounded inline-flex items-center justify-center">
</span><i>(prefix) </i>Coming Soon<br></a>
</div>

</div>
</div>
</div>
</div>
</section>
<!-- ("◎☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱[ νℓкуяє вσт ву кяукєηz ]☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱◎");
// ╔⧉༻ [ 𝐕𝐥𝐤𝐲𝐫𝐞🕊️𝐌𝐮𝐥𝐭𝐢𝐃𝐞𝐯𝐢𝐜𝐞 𝐀𝐏𝐈 ] 𝐢𝐬 𝐚 𝐖𝐡𝐚𝐭𝐬𝐚𝐩𝐩 𝐌𝐮𝐥𝐭𝐢𝐏𝐮𝐫𝐩𝐨𝐬𝐞-𝐔𝐬𝐞𝐫𝐛𝐨𝐭 𝐰𝐢𝐭𝐡 𝐌𝐨𝐝𝐞𝐫𝐚𝐭𝐢𝐨𝐧,𝐀𝐮𝐭𝐨𝐦𝐚𝐭𝐢𝐨𝐧 𝐚𝐧𝐝 𝟏𝟎𝟎+ 𝐦𝐨𝐫𝐞 𝐜𝐨𝐦𝐦𝐚𝐧𝐝𝐬!
// ║ 🐞𝐃𝐞𝐯𝐞𝐥𝐨𝐩𝐞𝐫𝐬 +918436686758,917430922909
// ║
// ║ We won't be responsible for any kind of ban due to this bot.
// ║ νℓкуяє was made for fun purpose and to make group management easier.
// ║ It's your concern if you spam and gets your account banned.
// ║ Also, Forks won't be entertained.
// ║ If you fork this repo and edit plugins, it's your concern for further updates.
// ║ Forking Repo is fine. But if you edit something we will not provide any help.
// ║ In short, Fork At Your Own Risk.
// ╚════════════╝
("◎☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱[ νℓкуяє вσт ву кяукєηz ]☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱◎");-->
<nav class="md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center"></nav>
<hr style="height: 0.5px; border-top: 8px solid #b3ad86" />
<hr style="height: 0.5px; border-top: 2px solid #d04f43" />

<footer class="text-amber-400 body-font">
<div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
<a class="flex title-font font-medium items-center md:justify-start justify-center text-amber-500">
<span class="ml-3 text-xl hover:text-amber-500"><b>❝ Coded By KryKenz ❞</b></span><br></a>
<p class="text-sm text-amber-100 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-amber-800 sm:py-2 sm:mt-0 mt-4">
<b>Since 2021 and Forever </b>
</p>
<span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
<a class="text-amber-400">
<svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
class="w-5 h-5" viewBox="0 0 24 24">
<path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
</svg><br></a>
<a class="ml-3 text-amber-400">
<svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
class="w-5 h-5" viewBox="0 0 24 24">
<path
d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z">
</path>
</svg><br></a>
<a class="ml-3 text-amber-400">
<svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
<rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
<path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
</svg><br></a>
<a class="ml-3 text-amber-400">
<svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
<path stroke="none"
d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z">
</path>
<circle cx="4" cy="4" r="2" stroke="none"></circle>
</svg><br></a>
</span>
</div>
</footer>
</body>

</html>
<!-- ("◎☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱[ νℓкуяє вσт ву кяукєηz ]☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱◎");
// ╔⧉༻ [ 𝐕𝐥𝐤𝐲𝐫𝐞🕊️𝐌𝐮𝐥𝐭𝐢𝐃𝐞𝐯𝐢𝐜𝐞 𝐀𝐏𝐈 ] 𝐢𝐬 𝐚 𝐖𝐡𝐚𝐭𝐬𝐚𝐩𝐩 𝐌𝐮𝐥𝐭𝐢𝐏𝐮𝐫𝐩𝐨𝐬𝐞-𝐔𝐬𝐞𝐫𝐛𝐨𝐭 𝐰𝐢𝐭𝐡 𝐌𝐨𝐝𝐞𝐫𝐚𝐭𝐢𝐨𝐧,𝐀𝐮𝐭𝐨𝐦𝐚𝐭𝐢𝐨𝐧 𝐚𝐧𝐝 𝟏𝟎𝟎+ 𝐦𝐨𝐫𝐞 𝐜𝐨𝐦𝐦𝐚𝐧𝐝𝐬!
// ║ 🐞𝐃𝐞𝐯𝐞𝐥𝐨𝐩𝐞𝐫𝐬 +918436686758,917430922909
// ║
// ║ We won't be responsible for any kind of ban due to this bot.
// ║ νℓкуяє was made for fun purpose and to make group management easier.
// ║ It's your concern if you spam and gets your account banned.
// ║ Also, Forks won't be entertained.
// ║ If you fork this repo and edit plugins, it's your concern for further updates.
// ║ Forking Repo is fine. But if you edit something we will not provide any help.
// ║ In short, Fork At Your Own Risk.
// ╚════════════╝
("◎☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱[ νℓкуяє вσт ву кяукєηz ]☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱◎");-->