<!DOCTYPE html>
<html>
<title>Vlkyre Whatsapp User Bot By Magneum</title>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>


<body style="background-color: #282828">
    <section class="h-full gradient-form bg-gray-200 md:h-screen" style="background-color: #282828">
        <div class="container py-12 px-6 h-full">
            <div class="flex justify-center items-center flex-wrap h-full g-6 text-gray-100 rounded-lg">
                <div class="xl:w-10/12 rounded-lg bg-gradient-to-r p-[1px] from-[#CC241D] via-[#FFC582] to-[#D79921]">
                    <div class="block bg-[#1D2021] shadow-lg rounded-lg ">
                        <div class="lg:flex lg:flex-wrap g-0">
                            <div class="lg:w-6/12 px-4 md:px-0">
                                <div class="md:p-12 md:mx-6">
                                    <div class="text-center">
                                        <img class="mx-auto w-48"
                                            src="https://i.postimg.cc/zDsLTp1v/Next-White-removebg-preview.png"
                                            alt="logo" />
                                    </div>
                                    <form>
                                        <p class="mb-4 uppercase">Please login to your account</p>
                                        <div class="mb-4">
                                            <input type="text"
                                                class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-zinc-900 bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-zinc-900 focus:border-blue-600 focus:outline-none"
                                                id="exampleFormControlInput1" placeholder="Username" />
                                        </div>
                                        <div class="text-center pt-1 mb-12 pb-1">
                                            <button action="/vlkyre" method="POST"
                                                class="inline-block px-6 py-2.5 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:shadow-lg focus:outline-none focus:ring-0 active:shadow-lg transition duration-150 ease-in-out w-full mb-3"
                                                type="button" data-mdb-ripple="true" data-mdb-ripple-color="light"
                                                style="background: linear-gradient(to right,#CC241D,#D65D0E);">
                                                Log in
                                            </button>
                                        </div>
                                        <div class="flex items-center justify-between pb-6">
                                            <p class="mb-0 mr-2">Don't have an account?</p>
                                            <button type="button"
                                                class="inline-block px-6 py-2 border-2 border-[#D65D0E] text-[#D65D0E] font-medium text-xs leading-tight uppercase rounded hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out"
                                                data-mdb-ripple="true" data-mdb-ripple-color="light">
                                                Get One!
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="lg:w-6/12 flex items-center lg:rounded-r-lg rounded-b-lg lg:rounded-bl-none"
                                style="
background: linear-gradient(to right, #832C29,#91562E);
">
                                <div class="text-white px-4 py-6 md:p-12 md:mx-6">
                                    <h4 class="text-xl font-bold mb-6 uppercase text-center font-serif">Vlkyre Whatsapp
                                        Bot by
                                        Magneum</h4>
                                    <p class="text-sm font-mono lowercase">

                                        > Vlkyre
                                        is an Advance <i>Whatsapp User-bot.</i>
                                        <br>
                                        > Vlkyre Has
                                        Over 100+ Commands For <i>Moderation, Social,
                                            Federation</i> And More.
                                        <br>
                                        > Vlkyre Has It's Own Browser Based Console
                                        Where You
                                        Can
                                        Check What Is Being Logged.
                                        <br>
                                        > Vlkyre Has Dashboard Where User Can Check
                                        Their Own
                                        Status <i>(To Check Join Vlkyre Group).</i>
                                        <br>
                                        > To Find
                                        Out What Vlkyre Offers, Join Any <i>Vlkyre
                                            Official Groups.</i>
                                        <br>
                                        <br>

                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ("◎☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱[ νℓкуяє вσт ву xhåÐr ]☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱☱◎");-->
    <nav class="md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center"></nav>
    <hr style="height: 0.5px; border-top: 2px solid #dbcfc0" />
    <hr style="height: 0.5px; border-top: 2px solid #9c3028" />
    <footer class="text-[#D65D0E] body-font" style="background-color: #282828">
        <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
            <a class="flex title-font font-medium items-center md:justify-start justify-center text-[#D65D0E]">
                <span class="ml-3 text-xl hover:text-[#D65D0E]"><b>❝ ⒸVLKYRE™ <i>Coded By Magneum</i> ❞</b></span>
            </a>
            <p class="text-sm text-white sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-red-800 sm:py-2 sm:mt-0 mt-4">
                <b>Since 2021 and Forever</b>
                <a href="https://github.com/Magneum/Vlkyre/blob/krytek/LICENSE"
                    class="text-[#D65D0E] ml-1 hover:text-red-200" target="_blank" rel="noopener noreferrer"><i>Licensed
                        Under Mozilla Public License 2.0</i></a>
            </p>
            <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
                <a class="text-[#D65D0E]">
                    <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        class="w-5 h-5" viewBox="0 0 24 24">
                        <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                    </svg>
                </a>
                <a class="ml-3 text-[#D65D0E]">
                    <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        class="w-5 h-5" viewBox="0 0 24 24">
                        <path
                            d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z">
                        </path>
                    </svg>
                </a>
                <a class="ml-3 text-[#D65D0E]">
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                        <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                        <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
                    </svg>
                </a>
                <a class="ml-3 text-[#D65D0E]">
                    <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
                        <path stroke="none"
                            d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z">
                        </path>
                        <circle cx="4" cy="4" r="2" stroke="none"></circle>
                    </svg>
                </a>
            </span>
        </div>
    </footer>
</body>

</html>